body {
    background-color: beige;
}

#header {
    background-color: burlywood;
    padding: 5px;

    h1 {
        text-align: center;
        color: blue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    blockquote {
        text-align: center;
        background-color: gold;
        padding: 0 10px;
        border: 1px dotted black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

    li {
        padding: 0 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.gambar {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    img {
        width: 35%;
    }
}

.isi {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .jawa {
        font-size: 3rem;
        color: blue;
    }
}

#profil h3 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#beternak h3 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.koleksi {
    display: flex;
    justify-content: center;
}

.koleksi img {
    width: 20%;
    padding: 10px;
    margin: 0 5px;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: white;
}

.promo {
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promo ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.promo ol li {
    padding: 0 5px;
}

.button {
    text-decoration: none;
    color: #fff;
    padding: 12px;
    margin-top: 12px;
    background-color: rgb(52, 52, 52);
    border-radius: 12px;
}

.promo del,
.promo strong {
    color: red;
}

#Wa {
    color: red;
}

